<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxjn.hgd.user.mapper.AttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxjn.hgd.user.entity.Attachment">
        <id column="aid" property="aid" />
        <result column="blogid" property="blogid" />
        <result column="filename" property="filename" />
        <result column="filesize" property="filesize" />
        <result column="filepath" property="filepath" />
        <result column="addtime" property="addtime" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="mimetype" property="mimetype" />
        <result column="thumfor" property="thumfor" />
    </resultMap>

</mapper>
