<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxjn.hgd.user.mapper.LinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxjn.hgd.user.entity.Link">
        <id column="id" property="id" />
        <result column="sitename" property="sitename" />
        <result column="siteurl" property="siteurl" />
        <result column="description" property="description" />
        <result column="hide" property="hide" />
        <result column="taxis" property="taxis" />
    </resultMap>

</mapper>
